@import "_normalize";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans';
  // padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  // border: 1px solid green;
  padding: 30px 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  // color: #fff;
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__size {
    width: 50px;
  }
  label {
    padding-right: 6px;
  }
  input, select {

    border: none;
    // background: rgb(62, 93, 151);
    // background: linear-gradient(rgba(78, 117, 175, 0.863), #3e5d97);
    border: 1px solid #4a5564;
    border-radius: 4px;
    padding: 6px;
  }
}

.pagination {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  // border: 1px solid black;
  &__button {
    padding: 6px;
    width: 42px;
    border: none;
    border-right: 2px solid #4a5564;
    background: #fff;
    // border-radius: 4px;

    cursor: pointer;
    &:hover {
      background: rgb(253, 204, 129);
      transition: background .3s ease-in-out;
    }
    &:last-child {
      border: none;
    }
    // border-left: 1px solid red;
  }
}

.table {
  /* table-layout: fixed; */
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 16px;
  background: #fff;

  &__header {
    background: linear-gradient(#646f7f, #4a5564);
    color: #fff;
  }
  &__id {
    width: 15%;
  }
  &__acronym {
    width: 20%;
  }
  tr:nth-child(2n) {
    width: 20%;
    background: rgba(231, 246, 253, 0.822);
  }
}


th, td {
  padding: 20px;
    text-align: start;
}
th {
  &:first-child {
    border-top-left-radius: 14px;
  }
  &:last-child {
    border-top-right-radius: 14px;
  }
}
tr:not(.table__header) {
  border: 1px solid #95a2c0;
  border-bottom: 2px solid #95a2c0;
}

@media(max-width: 1160px) {
  .form, .pagination, .table {
    width: 95%;
  }
  .form__filter {
    width: 150px;
  }
}
@media(max-width: 974px) {
  .form {
    flex-wrap: wrap;
    justify-content: space-around;
    // flex-direction: column;
  }
}